.card {
  margin: 1rem;
  max-width: 74rem;
  border: 0.1rem solid var(--main-700-bgcolor)
}

.card_img_cover a,
.title,
.description {
  box-sizing: border-box;
  width: 100%;
}

.card_img_cover,
.card_img_cover a {
  display: flex;
  justify-content: center;
}

.card_img_cover {
  align-items: center;
  position: relative;
  max-width: 74rem;
  height: 18rem;
  overflow: hidden;
}

.card_img_cover a {
  height: 100%;
}

.title {
  display: block;
  max-width: 74rem;
  padding: 1rem;
  background-color: var(--main-700-bgcolor);
  text-transform: capitalize;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  max-height: 6.5rem;
  margin: 0;
  padding: 1rem;
  line-height: 2.5rem;
  border-top: 0.3rem solid var(--main-700-bgcolor);;
  overflow: hidden;
}