.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  background-color: var(--main-700-bgcolor);
  border-bottom: 0.1rem solid var(--main-700-bgcolor);
  width: 100%;
  z-index: 10;
}

.inner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  font-size: 2.4rem;
  margin-left: 2rem;
}
.logo a {
  color: var(--font-color);
}

.logo::before,
.logo::after,
.view_menu::before,
.view_menu::after {
  content: '';
  display: block;
  position: absolute;
}
.logo::before {
  top: 0rem;
  left: -0.6rem;
  width: 1rem;
  height: 0.45rem;
  border-width: 0.2rem 0 0.2rem 0;
  border-style: solid;
  border-color: var(--main-500-bgcolor);
}
.logo::after {
  top: -0.6rem;
  left: -1rem;
  width: 1.4rem;
  height: 1.6rem;
  border: 0.2rem solid var(--main-500-bgcolor);
  z-index: -1;
}

.view_menu {
  position: relative;
  width: 7rem;
  height: 100%;
}

.view_menu::before,
.view_menu::after,
.view_menu span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
  width: 3rem;
  height: 0.2rem;
  background-color: var(--font-color);
}
.view_menu::before {
  margin-top: -1rem;
}
.view_menu::after {
  margin-top: 1rem;
}

.view_menu.view::before,
.view_menu.view::after {
  margin-top: 0;
  will-change: transform;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.view_menu.view span {
  width: 0;
  height: 0;
}

.view_menu.view::before {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.view_menu.view::after {
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.navigator {
  position: absolute;
  top: 7.1rem;
  width: 100%;
  height: 0;
  overflow: hidden;
  will-change: height;
  transition-property: height;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}

.navigator.open {
  height: 8rem;
}

.navigator ul {
  background-color: var(--root-bgcolor);
  
}
.navigator li {
  vertical-align: middle;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1.44rem;
  font-weight: 600;
  border-bottom: 0.1rem solid var(--main-500-bgcolor);
}
.navigator li a {
  height: 100%;
  color: var(--font-color);
}