:root {
  --root-bgcolor: #ffffff;
  --font-color: #020617;
  --main-500-bgcolor: #3b82f6;
  --main-700-bgcolor: #325fdc;
  --main-900-bgcolor: #1e3a8a;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding-top: 7.1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

button, a {
  cursor: pointer;
}

button,
input {
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --root-bgcolor: #020617;
    --font-color: #f8fafc;
    --main-500-bgcolor: #8b5cf6;
    --main-700-bgcolor: #6d28d9;
    --main-900-bgcolor: #581c87;
  }

  html {
    color-scheme: dark;
  }
}

/* 공통 사용 부분 */
.hidden_text {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
}
.hide {
  display: none;
}