@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@600&display=swap');

.main_wrap {
  width: 100%;
  height: calc(100vh - 7.1rem);
}

.main_wrap .inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inner .main_title {
  font-size: 3.6rem;
  font-family: 'East Sea Dokdo', sans-serif;
  font-weight: 400;
  color: var(--font-color);
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description .sub_text {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 1rem;
}