.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-700-bgcolor);
  height: 4rem;
}
.header a,
.title {
  font-size: 1.4rem;
  color: #ffffff;
}

.title {
  font-weight: 600;
  max-width: 25rem;
  margin-left: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header a {
  display: inline-flex;
  height: 100%;
  align-items: center;
  padding: 0rem 2rem;
  justify-content: center;
}

.header a span {
  display: flex;
}

@media screen and (min-width: 768px) {
  .title {
    max-width: none;
  }
}